# Ignore the .DS_Store file
.DS_Store

# Ignore the .vscode folder
.vscode/

# Ignore all files in the input and output folders
data/input/*
data/output/*

# Allow the directories themselves to be tracked
!data/input/
!data/output/